In [1]:
import pandas as pd
import numpy as np
CAD_ms = pd.read_pickle('./CAD/moverscore_results')
CAD_ms

array([0.48720429, 0.48856412, 0.48629309, ..., 0.51807751, 0.49106202,
       0.49385252])

In [2]:
CIA_ms = pd.read_pickle('./CIA/moverscore_results')
CIA_ms

array([0.61892357, 0.86139672, 0.68110076, ..., 0.64204062, 0.64828168,
       0.66983279])

In [3]:
len(CAD_ms)

28400

In [3]:
len(CIA_ms)

28566

In [8]:
CAD = pd.read_csv('../CAD.csv', index_col=0).reset_index()
CAD

,index,text_1,text_2,trigger_1_abs_start,trigger_1_abs_end,trigger_2_abs_start,trigger_2_abs_end,total_tokens_num,label,trigger_1,trigger_2
0,0,"Esther Williams - Esther Williams : ""Million D...","Esther Williams , Olympic swimmer turned actre...",30,30,136,136,173,1.0,died,died
1,0,"Esther Williams - Esther Williams : ""Million D...","Esther Williams , Olympic swimmer turned actre...",24,25,135,135,172,0.0,passed away,died
2,0,"Esther Williams - Esther Williams : ""Million D...","Esther Williams , Olympic swimmer turned actre...",23,23,136,136,173,0.0,departed,died
3,1,Game slips away late as Jaguars fall to Indy L...,Chiefs lose 20 - 13 to a fourth quarter Indian...,0,0,91,91,144,0.0,Game,stampede
4,1,"In the fourth quarter , the Colts surged and m...",Chiefs lose 20 - 13 to a fourth quarter Indian...,7,7,100,100,153,1.0,surged,stampede
...,...,...,...,...,...,...,...,...,...,...,...
42844,14403,"With a 20-point performance last night , Hansb...",Top-ranked North Carolina waited for Tyler Han...,11,11,92,92,201,1.0,course,program
42845,14403,Hansbrough 's record-breaking performance last...,Top-ranked North Carolina waited for Tyler Han...,27,27,90,90,199,1.0,plan,program
42846,14404,The judge should know to never ever trust a gn...,That ’ s exactly what LiLo ’ s lawyer Mark Hel...,102,102,250,250,274,0.0,walked,spent
42847,14404,"In court, LiLo's lawyer, Mark Heller, lied to ...",That ’ s exactly what LiLo ’ s lawyer Mark Hel...,55,55,172,172,196,1.0,used,spent
42848,14404,"In court, LiLo's lawyer, Mark Heller, lied to ...",That ’ s exactly what LiLo ’ s lawyer Mark Hel...,57,57,172,172,196,1.0,consumed,spent

In [9]:
del CAD['index']

In [11]:
CAD.to_csv('../CAD.csv')

In [6]:
print(CAD_ms[0:10])

[0.48720429 0.48856412 0.48629309 0.48805842 0.48778326 0.48912393
 0.51247714 0.51111071 0.51096554 0.51640545]